POSTGRES_PASSWORD
mikronet-6cf58-firebase-adminsdk-prfvh-573a5582a6.json
.idea
./model
query
data
*/tmp/
*/.air.toml
auth-config.env
*/uploads
./init
./init.sql
live_location/
docker-compose.prod.yaml
kong_config.yml
TODO.MD

/var
/uploads
/pgadmin-data
/maps
/faker
/proto

dummy.sql
*.air.toml
*/uploads
*/tmp