volumes:
  kong_data: {}
  kong_prefix_vol:
    driver_opts:
      type: tmpfs
      device: tmpfs
  kong_tmp_vol:
    driver_opts:
      type: tmpfs
      device: tmpfs

services:
  auth_service:
    build: /services/authentication
    container_name: auth_service
    depends_on:
      postgresql:
        condition: service_healthy
    volumes:
      - ./uploads:/usr/bin/uploads
    environment:
      - DB_HOST=postgresql
      - DB_USER=geolocation
      - DB_PASSWORD=Of@2gDmD8imF%D
      - DB_PORT=5432
      - DB_NAME=mikronet
      - GRPC_USER=user_service
      - GRPC_DRIVER=driver_service
      - GRPC_DASHBOARD=dashboard_service
      - EMAIL_PASSWORD=khzy wosb xckz aihb
      - JWT_SECRET=FV77z4uhQ9M
      - JWT_ISS=MikroNet
    networks:
      - kong-net

  user_service:
    build: /services/user
    container_name: user_service
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      - DB_HOST=postgresql
      - DB_USER=geolocation
      - DB_PASSWORD=Of@2gDmD8imF%D
      - DB_PORT=5432
      - DB_NAME=mikronet
      - GEOLOCATION_HOST=geolocation_tracking_service
      - JWT_SECRET=FV77z4uhQ9M
      - JWT_ISS=MikroNet
      - BASE_URL=kong:8000/api
    networks:
      - kong-net

  driver_service:
    build: /services/driver
    container_name: driver_service
    depends_on:
      postgresql:
        condition: service_healthy
    volumes:
      - ./uploads:/usr/bin/uploads
    environment:
      - DB_HOST=postgresql
      - DB_USER=geolocation
      - DB_PASSWORD=Of@2gDmD8imF%D
      - DB_PORT=5432
      - DB_NAME=mikronet
      - JWT_SECRET=FV77z4uhQ9M
      - JWT_ISS=MikroNet
      - BASE_URL=http://localhost:8000
    networks:
      - kong-net

  dashboard_service:
    build: /services/dashboard
    container_name: dashboard_service
    depends_on:
      postgresql:
        condition: service_healthy
    volumes:
      - ./uploads:/usr/bin/uploads
      - ./var/log/mikronet:/var/log/mikronet
    environment:
      - SERVICE_NAME=dashboard_service
      - DB_HOST=postgresql
      - DB_USER=geolocation
      - DB_PASSWORD=Of@2gDmD8imF%D
      - DB_PORT=5432
      - DB_NAME=mikronet
      - GRPC_USER=user_service
      - GRPC_DRIVER=driver_service
      - JWT_SECRET=FV77z4uhQ9M
      - JWT_ISS=MikroNet
    networks:
      - kong-net

  geolocation_tracking_service:
    build: /services/geolocation_tracking
    container_name: geolocation_tracking_service
    depends_on:
        postgresql:
            condition: service_healthy
    environment:
      - DB_HOST=postgresql
      - DB_USER=geolocation
      - DB_PASSWORD=Of@2gDmD8imF%D
      - DB_PORT=5432
      - DB_NAME=mikronet
      - JWT_SECRET=FV77z4uhQ9M
      - JWT_ISS=MikroNet
    networks:
      - kong-net

#############################################################################################
# DATABASE CONTAINER
  postgresql:
    image: postgis/postgis
    container_name: postgresql
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: mikronet
      TZ: "GMT+8"
      PGTZ: "GMT+8"
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mikronet"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
    volumes:
      # - data/postgis:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - kong-net
  
  pgadmin_service:
    image: dpage/pgadmin4
    container_name: my-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: test@gmail.com
      PGADMIN_DEFAULT_PASSWORD: postgres
    ports:
      - "15432:80"
    networks:
      - kong-net
    volumes:
      - ./pgadmin-data:/var/lib/pgadmin

  kong-migrations:
    image: "${KONG_DOCKER_TAG:-kong:latest}"
    command: kong migrations bootstrap
    depends_on:
      - db
    environment:
      KONG_DATABASE: postgres
      KONG_PG_DATABASE: ${KONG_PG_DATABASE:-kong}
      KONG_PG_HOST: db
      KONG_PG_USER: ${KONG_PG_USER:-kong}
      KONG_PG_PASSWORD_FILE: /run/secrets/kong_postgres_password
    secrets:
      - kong_postgres_password
    networks:
      - kong-net
    restart: on-failure
    deploy:
      restart_policy:
        condition: on-failure

  kong-migrations-up:
    image: "${KONG_DOCKER_TAG:-kong:latest}"
    command: kong migrations up && kong migrations finish
    depends_on:
      - db
    environment:
      KONG_DATABASE: postgres
      KONG_PG_DATABASE: ${KONG_PG_DATABASE:-kong}
      KONG_PG_HOST: db
      KONG_PG_USER: ${KONG_PG_USER:-kong}
      KONG_PG_PASSWORD_FILE: /run/secrets/kong_postgres_password
    secrets:
      - kong_postgres_password
    networks:
      - kong-net
    restart: on-failure
    deploy:
      restart_policy:
        condition: on-failure

  kong:
    container_name: kong
    image: "${KONG_DOCKER_TAG:-kong:latest}"
    user: "${KONG_USER:-kong}"
    depends_on:
      - db
    environment:
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_PROXY_LISTEN: "${KONG_PROXY_LISTEN:-0.0.0.0:8000}"
      KONG_ADMIN_LISTEN: "${KONG_ADMIN_LISTEN:-0.0.0.0:8001}"
      KONG_ADMIN_GUI_LISTEN: "${KONG_ADMIN_GUI_LISTEN:-0.0.0.0:8002}"
      KONG_CASSANDRA_CONTACT_POINTS: db
      KONG_DATABASE: postgres
      KONG_PG_DATABASE: ${KONG_PG_DATABASE:-kong}
      KONG_PG_HOST: db
      KONG_PG_USER: ${KONG_PG_USER:-kong}
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_PG_PASSWORD_FILE: /run/secrets/kong_postgres_password
    secrets:
      - kong_postgres_password
    networks:
      - kong-net
    ports:
      - "8000:8000/tcp"
      - "8001:8001/tcp"
      - "8002:8002/tcp"
      - "8443:8443/tcp"
      - "127.0.0.1:8444:8444/tcp"
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 10s
      retries: 10
    restart: on-failure:5
    deploy:
      restart_policy:
        condition: on-failure

  db:
    image: postgres:9.5
    environment:
      POSTGRES_DB: ${KONG_PG_DATABASE:-kong}
      POSTGRES_USER: ${KONG_PG_USER:-kong}
      POSTGRES_PASSWORD_FILE: /run/secrets/kong_postgres_password
    secrets:
      - kong_postgres_password
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${KONG_PG_USER:-kong}"]
      interval: 30s
      timeout: 30s
      retries: 3
    restart: on-failure
    deploy:
      restart_policy:
        condition: on-failure
    stdin_open: true
    tty: true
    networks:
      - kong-net
    volumes:
      - kong_data:/var/lib/postgresql/data

######################################################
#   LOGGING

  loki:
    container_name: loki
    image: grafana/loki
    ports:
      - "3100:3100"
    command: -config.expand-env=true -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./monitoring/loki-config.yaml:/etc/loki/local-config.yaml:ro

  fluent-bit:
    container_name: fluent-bit
    image: fluent/fluent-bit
    volumes:
      - ./monitoring/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
      - ./monitoring/parser.conf:/fluent-bit/etc/parser.conf
      - ./var/log/mikronet:/var/log/mikronet
    depends_on:
      - loki

  grafana:
    container_name: grafana
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - loki

  cadvisor:
    container_name: cadvisor
    image: gcr.io/cadvisor/cadvisor:latest
    privileged: true
    # network_mode: host
    command:
      - "--docker_only=true"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /mnt/wsl/docker-desktop-data/data/docker/:/var/lib/docker:ro
    ports:
      - "8080:8080" 

  promotheus:
    container_name: promotheus
    image: prom/prometheus
    volumes:
      - ./monitoring/promotheus.yaml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090" 

networks:
  kong-net:
    driver: bridge

secrets:
  kong_postgres_password:
    file: ./POSTGRES_PASSWORD