_format_version: "3.0"
_transform: true

upstreams:
  - name: auth_upstream
    targets:
      - target: auth_service:8050

  - name: user_upstream
    targets:
      - target: user_service:8010

  - name: driver_upstream
    targets:
      - target: driver_service:8020

  - name: geolocation_tracking_upstream
    targets:
      - target: geolocation_tracking_service:8040

services:
  - name: auth_service_route
    url: http://auth_upstream

  - name: user_service_route
    url: http://user_upstream

  - name: driver_service_route
    url: http://driver_upstream

  - name: geolocation_tracking_route
    url: http://geolocation_tracking_upstream

routes:
  - name: auth_route
    service: auth_service_route
    paths:
      - /api/v1/auth
    strip_path: true

  - name: user_route
    service: user_service_route
    paths:
      - /api/v1/user
    strip_path: true

  - name: driver_route
    service: driver_service_route
    paths:
      - /api/v1/driver
    strip_path: true

  - name: geolocation_tracking_route
    service: geolocation_tracking_route
    paths:
      - /api/v1/geo
    strip_path: true
