name: Testing Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Download dependencies
        run: |
          find services -type f -name "go.mod" | while read -r gomod_file; do
            service_dir=$(dirname "$gomod_file")
            echo "Downloading dependencies in $service_dir"
            (cd "$service_dir" && go mod download)
          done

      - name: Run Tests for All Services
        run: |
          find services -type f -name "go.mod" | while read -r gomod_file; do
            service_dir=$(dirname "$gomod_file")
            echo "Running tests in $service_dir"
            (cd "$service_dir" && go test ./...)
          done